<div class="">
  <div>
    <h2>Health</h2>
    <section class="resources">
      <div class="resource-content flexrow flex-center flex-between">
        <label class="resource-label">Sanguine: </label>
        <input type="checkbox" name="data.health.sanguine.imbalanced" {{checked data.health.sanguine.imbalanced}} />
        <span>Imbalanced</span>
        <input type="checkbox" name="data.health.sanguine.damaged" {{checked data.health.sanguine.damaged}} />
        <span>Weak (-1 Body)</span>
      </div>

      <div class="resource-content flexrow flex-center flex-between">
        <label class="resource-label">Choleric: </label>
        <input type="checkbox" name="data.health.choleric.imbalanced" {{checked data.health.choleric.imbalanced}} />
        <span>Imbalanced</span>
        <input type="checkbox" name="data.health.choleric.damaged" {{checked data.health.choleric.damaged}} />
        <span>Addled (-1 Mind)</span>
      </div>

      <div class="resource-content flexrow flex-center flex-between">
        <label class="resource-label">Melancholic: </label>
        <input type="checkbox" name="data.health.melancholic.imbalanced" {{checked data.health.melancholic.imbalanced}} />
        <span>Imbalanced</span>
        <input type="checkbox" name="data.health.melancholic.damaged" {{checked data.health.melancholic.damaged}} />
        <span>Grieved (-1 Spirit)</span>
      </div>
      
      <div class="resource-content flexrow flex-center flex-between">
        <label class="resource-label">Phlegmatic: </label>
        <input type="checkbox" name="data.health.phlegmatic.imbalanced" {{checked data.health.phlegmatic.imbalanced}} />
        <span>Imbalanced</span>
        <input type="checkbox" name="data.health.phlegmatic.damaged" {{checked data.health.phlegmatic.damaged}} />
        <span>Lethargic (-1 Quick)</span>
      </div>

    </section>
  </div>
  <div style="height: 200px;">
    <h2>Notes</h2>
    {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
    {{editor content=data.health.notes target="data.health.notes" rollData=rollData button=true owner=owner editable=editable}} 
  </div>

</div>