<div style="font-size: 0.7em;">
  <h2>Surplus</h2>
  <div style="height: 80px;">
    {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
    {{editor content=data.attributes.surplus target="data.attributes.surplus" rollData=rollData button=true owner=owner editable=editable}}
  </div>

  <h2>Vulnerabilities</h2>
  <div style="height: 80px;">
    {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
    {{editor content=data.attributes.vulnerabilities target="data.attributes.vulnerabilities" rollData=rollData button=true owner=owner editable=editable}}
  </div>

  <h2>Fortifications</h2>
  <div style="height: 80px;">
    {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
    {{editor content=data.attributes.fortifications target="data.attributes.fortifications" rollData=rollData button=true owner=owner editable=editable}}
  </div>

  <h2>Buildings</h2>
  <div style="height: 80px;">
    {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
    {{editor content=data.attributes.buildings target="data.attributes.buildings" rollData=rollData button=true owner=owner editable=editable}}
  </div>

  <h2>Relations</h2>
  <div style="height: 80px;">
    {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
    {{editor content=data.attributes.relations target="data.attributes.relations" rollData=rollData button=true owner=owner editable=editable}}
  </div>

  <h2>Location</h2>
  <div style="height: 80px;">
    {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
    {{editor content=data.attributes.location target="data.attributes.location" rollData=rollData button=true owner=owner editable=editable}}
  </div>
</div>