<div class="grid grid-5col grid-resources">
  <div>
    <label>Covenfolk</label>
    <input type="text" name="data.attributes.covenfolk.size" value="{{data.attributes.covenfolk.size}}"/>
  </div>
  <div><label class="small-label">Tiny (30-45 people)</label><br/><input type="checkbox" name="data.attributes.covenfolk.tiny" {{checked data.attributes.covenfolk.tiny}} /></div>
  <div><label class="small-label">Small (46-75 people)</label><br/><input type="checkbox" name="data.attributes.covenfolk.small" {{checked data.attributes.covenfolk.small}} /></div>
  <div><label class="small-label">Medium (76-150 people)</label><br/><input type="checkbox" name="data.attributes.covenfolk.medium" {{checked data.attributes.covenfolk.medium}} /></div>
  <div><label class="small-label">Large (151-300 people)</label><br/><input type="checkbox" name="data.attributes.covenfolk.large" {{checked data.attributes.covenfolk.large}} /></div>

  <div class="grid-rowspan-2">
    <label>Warband</label>
    <input type="text" name="data.attributes.warband.size" value="{{data.attributes.warband.size}}"/>
  </div>
  <div><label class="small-label">a few fighters</label><br/><input type="checkbox" name="data.attributes.warband.tiny" {{checked data.attributes.warband.tiny}} /></div>
  <div><label class="small-label">Small (10 fighters)</labe<br/>l><input type="checkbox" name="data.attributes.warband.small" {{checked data.attributes.warband.small}} /></div>
  <div><label class="small-label">Medium (25 fighters)</labe<br/>l><input type="checkbox" name="data.attributes.warband.medium" {{checked data.attributes.warband.medium}} /></div>
  <div><label class="small-label">Large (50 fighters)</label><br/><input type="checkbox" name="data.attributes.warband.large" {{checked data.attributes.warband.large}} /></div>

  <div class="grid-span-4">
    <div class="grid grid-5col">
      <label>Harm</label>
      <input type="text" name="data.attributes.warband.harm" value="{{data.attributes.warband.harm}}"/>
      <div></div>
      <label>Armour</label>
      <input type="text" name="data.attributes.warband.armour" value="{{data.attributes.warband.armour}}"/>  
    </div>
    
  </div>

</div> 
