<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      <div class="resources grid grid-4col">
        {{#each data.stats as |stat key|}}
        <div class="resource flex-group-center">
          <div>
            <label for="data.stats.{{key}}.value" class="resource-label rollable" data-roll="2d6+@{{key}}.value" data-label="{{stat.label}}">{{stat.label}}</label>
              <span class="advantage rollable" data-roll="3d6kh2+@{{key}}.value" data-label="{{stat.label}} (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@{{key}}.value" data-label="{{stat.label}} (Disadvantage)">D</span>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.stats.{{key}}.value" value="{{stat.value}}" data-dtype="Number"/>
          </div>
        </div>
        {{/each}}
      </div> 
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="description">Personal</a>
    <a class="item" data-tab="moves">Moves</a>
    <a class="item" data-tab="arts">Arts</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="laboratory">Laboratory</a>
    <a class="item" data-tab="bonds">Bonds</a>
    <a class="item" data-tab="health">Health</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Arts Tab --}}
    <div class="tab arts" data-group="primary" data-tab="arts">
      <section class="grid grid-3col">

        <section class="resources">
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@creo" data-label="creo (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@creo" data-label="creo (Disadvantage)">D</span>
              <label for="data.arts.creo" class="resource-label rollable" data-roll="2d6+@creo" data-label="Creo">Creo</label>              
            </div>
            <input type="text" name="data.arts.creo" value="{{data.arts.creo}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@intellego" data-label="intellego (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@intellego" data-label="intellego (Disadvantage)">D</span>
              <label for="data.arts.intellego" class="resource-label rollable" data-roll="2d6+@intellego" data-label="Intellego">Intellego</label>              
            </div>
            <input type="text" name="data.arts.intellego" value="{{data.arts.intellego}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@muto" data-label="muto (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@muto" data-label="muto (Disadvantage)">D</span>
              <label for="data.arts.muto" class="resource-label rollable" data-roll="2d6+@muto" data-label="Muto">Muto</label>              
            </div>
            <input type="text" name="data.arts.muto" value="{{data.arts.muto}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@perdo" data-label="perdo (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@perdo" data-label="perdo (Disadvantage)">D</span>
              <label for="data.arts.perdo" class="resource-label rollable" data-roll="2d6+@perdo" data-label="Perdo">Perdo</label>              
            </div>
            <input type="text" name="data.arts.perdo" value="{{data.arts.perdo}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@rego" data-label="rego (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@rego" data-label="rego (Disadvantage)">D</span>
              <label for="data.arts.rego" class="resource-label rollable" data-roll="2d6+@rego" data-label="Rego">Rego</label>              
            </div>
            <input type="text" name="data.arts.rego" value="{{data.arts.rego}}"/>
          </div>
          
        </section>

        <section class="resources">
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@animal" data-label="animal (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@animal" data-label="animal (Disadvantage)">D</span>
              <label for="data.arts.animal" class="resource-label rollable" data-roll="2d6+@animal" data-label="Animal">Animal</label>              
            </div>
            <input type="text" name="data.arts.animal" value="{{data.arts.animal}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@aquam" data-label="aquam (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@aquam" data-label="aquam (Disadvantage)">D</span>
              <label for="data.arts.aquam" class="resource-label rollable" data-roll="2d6+@aquam" data-label="Aquam">Aquam</label>              
            </div>
            <input type="text" name="data.arts.aquam" value="{{data.arts.aquam}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@auram" data-label="auram (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@auram" data-label="auram (Disadvantage)">D</span>
              <label for="data.arts.auram" class="resource-label rollable" data-roll="2d6+@auram" data-label="Auram">Auram</label>              
            </div>
            <input type="text" name="data.arts.auram" value="{{data.arts.auram}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@corpus" data-label="corpus (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@corpus" data-label="corpus (Disadvantage)">D</span>
              <label for="data.arts.corpus" class="resource-label rollable" data-roll="2d6+@corpus" data-label="Corpus">Corpus</label>              
            </div>
            <input type="text" name="data.arts.corpus" value="{{data.arts.corpus}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@herbam" data-label="herbam (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@herbam" data-label="herbam (Disadvantage)">D</span>
              <label for="data.arts.herbam" class="resource-label rollable" data-roll="2d6+@herbam" data-label="Herbam">Herbam</label>              
            </div>
            <input type="text" name="data.arts.herbam" value="{{data.arts.herbam}}"/>
          </div>
          
        </section>

        <section class="resources">
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@ignem" data-label="ignem (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@ignem" data-label="ignem (Disadvantage)">D</span>
              <label for="data.arts.ignem" class="resource-label rollable" data-roll="2d6+@ignem" data-label="Ignem">Ignem</label>              
            </div>
            <input type="text" name="data.arts.ignem" value="{{data.arts.ignem}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@imaginem" data-label="imaginem (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@imaginem" data-label="imaginem (Disadvantage)">D</span>
              <label for="data.arts.imaginem" class="resource-label rollable" data-roll="2d6+@imaginem" data-label="Imaginem">Imaginem</label>              
            </div>
            <input type="text" name="data.arts.imaginem" value="{{data.arts.imaginem}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@mentem" data-label="mentem (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@mentem" data-label="mentem (Disadvantage)">D</span>
              <label for="data.arts.mentem" class="resource-label rollable" data-roll="2d6+@mentem" data-label="Mentem">Mentem</label>              
            </div>
            <input type="text" name="data.arts.mentem" value="{{data.arts.mentem}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@terram" data-label="terram (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@terram" data-label="terram (Disadvantage)">D</span>
              <label for="data.arts.terram" class="resource-label rollable" data-roll="2d6+@terram" data-label="Terram">Terram</label>              
            </div>
            <input type="text" name="data.arts.terram" value="{{data.arts.terram}}"/>
          </div>
          <div class="resource-content flexrow flex-center flex-between">
            <div>
              <span class="advantage rollable" data-roll="3d6kh2+@vim" data-label="vim (Advantage)">A</span> 
              <span class="disadvantage rollable" data-roll="3d6kl2+@vim" data-label="vim (Disadvantage)">D</span>
              <label for="data.arts.vim" class="resource-label rollable" data-roll="2d6+@vim" data-label="Vim">Vim</label>              
            </div>
            <input type="text" name="data.arts.vim" value="{{data.arts.vim}}"/>
          </div>
        </section>

      </section>
    </div>

    {{!-- Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/wizardworld/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Moves Tab --}}
    <div class="tab moves" data-group="primary" data-tab="moves">
      <div class="resources grid grid-6col">
        <label for="data.experience">Experience</label>
        <input type="text" name="data.experience" value="{{data.experience}}" data-dtype="Number"/>          
      </div>
      <div>
        {{> "systems/wizardworld/templates/actor/parts/actor-moves.html"}}
      </div>
    </div>

    {{!-- Laboratory Tab --}}
    <div class="tab laboratory" data-group="primary" data-tab="laboratory">
      <section class="resources">
        <div class="resource-content flexrow flex-center flex-between">
          <label for="data.laboratory.covenantrole" class="resource-label" data-label="Covenant Role">Covenant Role</label>
          <input type="text" name="data.laboratory.covenantrole" value="{{data.laboratory.covenantrole}}"/>
        </div>
      </section>
      <h2>Lab Description</h2>
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.library.description target="data.library.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.items target="data.items" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Bonds Tab --}}
    <div class="tab bonds" data-group="primary" data-tab="bonds">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.bonds target="data.bonds" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Health Tab --}}
    <div class="tab health" data-group="primary" data-tab="health">
      {{> "systems/wizardworld/templates/actor/parts/actor-health.html"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> "systems/wizardworld/templates/actor/parts/actor-personal.html"}}

    </div>

    {{!-- Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.notes target="data.notes" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>

