<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>    
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Spell Magnitude</label>
        <input type="text" name="data.magnitude" value="{{data.magnitude}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">Arts</label>
        <input type="text" name="data.arts" value="{{data.arts}}"/>
      </div>

      <div class="resource">
        <label class="resource-label">Target</label>
        <input type="text" name="data.target" value="{{data.target}}"/>
      </div>

      <div class="resource">
        <label class="resource-label">Duration</label>
        <input type="text" name="data.duration" value="{{data.duration}}"/>
      </div>

      <div class="resource">
        <label class="resource-label">Range</label>
        <input type="text" name="data.range" value="{{data.range}}"/>
      </div>

      <div class="resource">
        <label class="resource-label">Effect</label>
        <input type="text" name="data.effect" value="{{data.effect}}"/>
      </div>

    </div>
  </section>
</form>
