<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1>Crew</h1>
      <h2 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h2>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div>
        <p><strong>Crew Design</strong>: Choose one of the following basic designs for a Class 0 Crew:</p>
        <ul>
        <li><strong>Squad</strong>: Disciplined and stolid. Equipped with a similar type of weaponry (pistols, stun batons, rifles, etc.). Able to guard areas and engage in small-scale combat.</li>
        <li><strong>Techs</strong>: Educated and well trained. Equipped with basic tools. Able to provide technical or manual assistance to a variety of scientific or engineering projects.</li>
        <li><strong>Gang</strong>: Crude and self-reliant. Equipped with a smattering of mismatched weaponry (pistols, shotguns, chains, knives, etc.). Able to attack people or break things.</li>
        <li><strong>Staff</strong>: Refined and professional. Able to serve guests, keep accounts, prepare meals and perform daily household chores.</li>
        <li><strong>Artificial</strong> (new design): Choose form (robot, undead, golem, spirit, etc.). Obedient, but rarely takes initiative or acts on their own. Commanded with +Interface.</li>
        </ul>
      </div>
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">Class</label>
        <input type="text" name="data.class" value="{{data.class}}" data-dtype="Number"/>
      </div>
      <div class="resource">
        <label class="resource-label">Type</label>
        <input type="text" name="data.type" value="{{data.type}}" data-dtype="text"/>
      </div>
      <div class="resource">
        <label class="resource-label">Updates</label>
        <input type="text" name="data.updates" value="{{data.updates}}" data-dtype="text"/>
      </div>
      <div class="resource">
        <label class="resource-label">Short</label>
        <input type="text" name="data.short" value="{{data.short}}" data-dtype="text"/>
      </div>  
      
    </div>
  </section>
</form>
